{% extends "admin/admin-base.html" %} 
 {% block userdefine %}
    <title>坤坤大神内容管理系统-用户会话管理</title>     
     
            <div class="row">
                <div class="col-lg-10">
                  <div class="table-responsive">
  <table class="table">
    <caption><center><b>坤坤大神文章系统--在线用户一览表</b></center></caption>
    <thead>
      <tr>
        <th>用户key</th>
        <th>数据（加密）</th>
        <th>失效时间</th>
        <th>删除会话</th>
    </tr>
    </thead>
    <tbody>
    {% for s in ss %}
      <tr>
        <td>{{s.session_key}}</td>
        <td>****************</td>
        <td>{{s.expire_date|date:"Y-n-d H:i:s" }}</td>
        <td><button type="button" class="btn btn-primary btn-xs" onclick="location='http://{{ localip }}/MyBlog/delete_session/?id={{ s.session_key}}'">删除会话</button></td>
        </tr>
     {%endfor%} 
       
    </tbody>
  </table>
</div>

                </div>
                
                <!-- /.col-lg-10 -->

          </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
 {% endblock %}