<div class="container">
    <div class="row">
        <div class="span6">
            <ul class="nav nav-pills">
                <li class="active"><a href="../bocai/"><b>菠菜直播助手5.0</b></a></li>
                <li><a href="../score2ubb/"><b>比赛比分实时更新</b></a></li>
                <li><a href="../dagaier"><b>达盖尔下载器</b></a></li>
                <li><a href="../yyjp/"><b>一夜精品下载器</b></a></li>
                <li><a href="#"><b>菜区版规</b></a></li>
                <li><a href="#"><b>统计教程</b></a></li>
                <li><a href="#"><b>菜区长虹--菜农怒收</b></a></li>
            </ul>
        </div>
    </div>
</div>

<br>

{% block content %}
 <!-- 此处为模板引用位置 -->
 
 
 {% endblock %}
 
<div class="container">
<div class="well well-sm">
 <ul class="nav nav-pills">
<li><a href="../bocai_intro/">系统介绍</a></li>
<li><a href="../bocai/">返回首页</a></li>
</ul>
<footer>
</footer> 
</div>
</div>