<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/static/imgs/kunkun_favicon.ico" rel="shortcut icon">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://www.kunkundashen.cn/site_medias/js/jquery-1.8.2.js"></script>
<script type="text/javascript" src="http://www.kunkundashen.cn/static/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
tinymce.init({
    selector: "textarea",
    plugins: [
        "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker",
        "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
        "table contextmenu directionality emoticons template textcolor paste fullpage textcolor colorpicker textpattern"
    ],
    toolbar1: "bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | link unlink anchor image media code |table | hr removeformat | fullscreen  | template pagebreak restoredraft preview",
    menubar: false,
    toolbar_items_size: 'small',

    style_formats: [
        {title: 'Bold text', inline: 'b'},
        {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
        {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
        {title: 'Example 1', inline: 'span', classes: 'example1'},
        {title: 'Example 2', inline: 'span', classes: 'example2'},
        {title: 'Table styles'},
        {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
    ],

    templates: [
        {title: 'Test template 1', content: '<b>Test 1</b>'},
        {title: 'Test template 2', content: '<em>Test 2</em>'}
    ]
});
</script>
    <title>Bocai Code Solver--比分实时更新</title>
    
    
    
</head>

<body>

<div class="container">
{% extends "bocai/base.html" %}     
{% block content %} 


<div class="panel">

<div class="well">

<form role="form" action="../html2ubb/" method="post">{% csrf_token %}
  <div class="form-group">
    <label for="html_code">生成的直播html源代码</label>
    <textarea id="html_code" name="html_code" rows="24" class="form-control" >
  
    </textarea>
    <br>
    <p>
  <button type="sumit" class="btn btn-primary btn-lg btn-block">获取开盘UBB代码</button>

      </p>
  </div>
</form>

</div>

</div>

</div>


{% endblock %}
</body>
</html>
