<script src="/static/js/jquery-1.7.1.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/tools/solver.css" />
	
<html lang="en">	
<body class="lang-en">


{% block content %}



 <!-- 此处为模板引用位置 -->
 
 
 
 {% endblock %}
	
<!-- Footer Begin -->
	<div class="fadeInCallToActions">
		<div class="fadeInCallToActionsInner">
			<div class="footNotez">
				&copy;{{thisyear}} 大神魔方求解器 | <a href="/">返回部落格</a> | <a href="/cube/">2x2（二阶魔方）</a> |  <a href="/cube_3x3/">3x3（三阶魔方）</a> | <a href="https://cube-solver.com/#id=4">4x4（四阶魔方）</a> | <a href="/cube_pyraminx/">pyraminx（金字塔魔方）</a> |Program by Modus Beke（ruwix.com）
			</div>
		</div>
	</div>	
	
	<!-- Footer END -->
