
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online 2x2 Rubik's Cube Solver</title>
	<meta name="keywords" content="2x2,cube,solver" />
	<meta name="description" content="Calculate the solution of your scrambled 2x2 Rubik's Cube with this online solver. Set up the stickers and let the program find the solution or generate a random shuffle and try to figure" />
	<meta name="apple-mobile-web-app-title" content="Rubiks Solver">
	<meta property="og:title" content="Online 2x2 Rubik's Cube Solver" />
	<meta property="og:url" content="https://rubiks-cube-solver.com/2x2/" />
	<meta property="og:image" content="https://rubiks-cube-solver.com/images/rubiks-cube-solver.jpg" />
	<meta property="og:type" content="website">
	<meta property="og:description" content="Calculate the solution of your scrambled 2x2 Rubik's Cube with this online solver. Set up the stickers and let the program find the solution or generate a random shuffle and try to figure">
	<link rel="image_src" href="https://rubiks-cube-solver.com/images/rubiks-cube-solver.jpg" />
	<link rel="canonical" href="https://rubiks-cube-solver.com/2x2/" />
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="https://rubiks-cube-solver.com/2x2/cube2.js"></script>
	<link rel="stylesheet" type="text/css" href="https://rubiks-cube-solver.com/2x2/cube2.css" />
	<link rel="stylesheet" type="text/css" href="https://rubiks-cube-solver.com/solver.css" />
</head>

<body>
	<!-- Header BEGIN -->
<header>
	<div class="header">
		<div class="headerInner clearfix">
			<a class="bannerLogo" title="Rubiks Cube solver" href="/">
				Rubik's&nbsp;Cube Solver
			</a>
			<div class="headerRightSide">
				<div class="kisreklam">
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- Bordo Mobile 320x100 -->
					<ins class="adsbygoogle"
						 style="display:inline-block;width:320px;height:100px"
						 data-ad-client="ca-pub-9728962508602593"
						 data-ad-slot="9764413661"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
			</div>
			<div id="puzzleNav">
				<ul>
					<li><a href="/2x2/" class="two active" title="2x2 Solver">2x2</a></li>
					<li><a href="/" class="three" title="Rubik's Cube Solver">3x3</a></li>
					<li><a href="/4x4/" class="four" title="4x4 Solver">4x4</a></li>
					<li><a href="/pyraminx/" class="pyra" title="Pyraminx Solver">Pyraminx</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="switchViewWrap">
		<h3>2x2 Cube Solver</h3>
	</div>
</header>
	<!-- Header END -->
	
	<a class="floatingTutorial" href="https://ruwix.com/twisty-puzzles/2x2x2-rubiks-cube-pocket/" title="How to solve the 2x2 Rubik's Cube" target="_blank">
	</a>
	
	<div class="solverLeftRight">
		<div class="solverLeft">
			<div id="wrap2x2Cube">
				<div class="editcolor0 mode0">
					<div class="faceUp">
						<div class="clr3" data-id="12"></div>
						<div class="clr3" data-id="13"></div>
						<div class="clr3" data-id="14"></div>
						<div class="clr3" data-id="15"></div>
					</div>
					<div class="faceLeft">
						<div class="clr1" data-id="5"></div>
						<div class="clr1" data-id="4"></div>
						<div class="clr1" data-id="7"></div>
						<div class="clr1" data-id="6"></div>
					</div>
					<div class="faceFront">
						<div class="clr5" data-id="20"></div>
						<div class="clr5" data-id="21"></div>
						<div class="clr5" data-id="22"></div>
						<div class="clr5" data-id="23"></div>
					</div>
					<div class="faceRight">
						<div class="clr4" data-id="16"></div>
						<div class="clr4" data-id="17"></div>
						<div class="clr4" data-id="18"></div>
						<div class="clr4" data-id="19"></div>
					</div>
					<div class="faceBack">
						<div class="clr0" data-id="9"></div>
						<div class="clr0" data-id="8"></div>
						<div class="clr0" data-id="11"></div>
						<div class="clr0" data-id="10"></div>
					</div>
					<div class="faceDown">
						<div class="clr2" data-id="2"></div>
						<div class="clr2" data-id="3"></div>
						<div class="clr2" data-id="0"></div>
						<div class="clr2" data-id="1"></div>
					</div> 
					<strong class="editingColor">Add <span id="editcolorText" class="clr0"></span> fields</strong>
				</div>
			</div>
			<div id="muveletek2x2">
				<a id="reset2x2">Reset</a>
				<a id="scramble2x2">Scramble</a>
				<a id="solve2x2">Solve</a>
				<a id="edit2x2">Edit</a>
			</div>
		</div>
		<div class="solverRight">
		
			<!-- Bordo SkyScraper 300x600 -->			
			
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<ins class="adsbygoogle"
				 style="display:inline-block;width:300px;height:600px"
				 data-ad-client="ca-pub-9728962508602593"
				 data-ad-slot="8287680469"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>	
			
		</div>
	</div>
	<div id="solutionWrap">
	</div>
	
	<div class="wrapArticle clearfix">
		<div class="article">
			<article>
				<h1>2x2 Rubik's Cube Solver</h1>
				<p><strong>Calculate the solution of your scrambled 2x2 Rubik's Cube with this online solver. Set up the stickers and let the program find the solution or generate a random shuffle and try to figure out the solution yourself rotating the faces!</strong></p>
				<h2>How To Use?</h2>
				<p>You can see an unfolded 2x2x2 cube on your screen. Click the <strong>Edit</strong> button to remove the colors of the puzzle and paste your colors one by one to the fields. Start with red, then green, white, yellow, blue and finally the orange. The program won't allow you to set up an invalid scramble, for example to add a corner piece with two stickers of the same color. The program will help you by guessing the colors of the remaining stickers. For example when you reach the last color the solver will set the remaining fields automatically. The solver supports any color scheme.</p>
				<p>When your setup is complete press the <strong>Solve</strong> button to retreive the solution in less than 11 steps. The program will display the solution using the classic <a href="https://ruwix.com/the-rubiks-cube/notation/" target="_blank">FRU notation</a> and also a graphical demonstration of the steps using arrows. Since a clockwise rotation of a face rearranges the pieces the same way as a counterclockwise rotation of the opposite side it's enough to work with only the <strong>F</strong>(Front), <strong>R</strong>(Right) and <strong>U</strong>(Up) faces. Counterclockwise rotations are marked with an apostrophe, while double (180<sup>o</sup>) turns are marked with the number 2. </p>
				<h2>Solve It Yourself</h2>
				<p>This is not just a 2x2 solver but a puzzle simulator where you can play with the Pocke Cube. Click <strong>Scramble</strong> for a random shuffle and try to solve the cube yourself. Click a face to make a clockwise rotation as shown by the arrow.</p>
				<h2>How to solve the 2x2</h2>
				<p>The Pocket Cube is an easier puzzle than the Rubik's Cube. It can be solved as a 3x3 with corners only. Learn the <a href="https://ruwix.com/twisty-puzzles/2x2x2-rubiks-cube-pocket/" target="_blank">solution of the 2x2 here</a>! </p>
				<p>Leave a message below if you have any question, suggestion or just want to say hi! </p>
			</article>		
			
			<div id="callToAddThis">
				<ul>
					<li><a rel="external nofollow" class="sharefb" target="blank" href="https://www.facebook.com/sharer/sharer.php?u=https://rubiks-cube-solver.com/">Facebook</a></li>
					<li><a rel="external nofollow" class="sharetw" target="blank" href="https://twitter.com/home?status=https://rubiks-cube-solver.com/">Twitter</a></li>
					<li><a rel="external nofollow" class="shareli" target="blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://rubiks-cube-solver.com&amp;title=Rubik's%20Cube%20solver%20program&amp;summary=Couldn't%20figure%20out%20how%20to%20solve%20your%20Rubik's%20Cube?%20Just%20set%20the%20colors%20of%20the%20mixed%20puzzle,%20hit%20the%20solve%20button%20and%20follow%20the%20steps%20leading%20to%20the%20solution.%20&amp;source=">LinkedIn</a></li>
				</ul>
			</div>
		</div>
		<div id="diszkusz">
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10&appId=355198271187833";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>

			<div class="fb-comments" data-href="https://rubiks-cube-solver.com/" data-width="400" data-numposts="5"></div>
		</div>
	</div>
	
	<div id="alertBox">
		<div id="alertBoxClose" title="Close">x</div>
		<div id="alertBoxInner" class="clearfix">
			<a id="floatingTutorialAlert" href="/how-to-solve/"><span>&swarr;</span>Learn how to solve the Rubik's Cube! </a>
			<div id="alertBoxRight">
				<h2>Give Us a Like if You Managed to Solve Your Cube</h2>
				<div id="alertBoxContent">Thanks</div>
				<h2>Share This Page</h2>
				<div id="callToAddThis2">
				</div>
				<p style="text-align: right;">
					Thank you!
				</p>
			</div>
		</div>
	</div>
	<div id="alertShadow">
	</div>
	
<!-- Footer Begin -->
	<div class="fadeInCallToActions">
		<div class="fadeInCallToActionsInner">
			<div class="footNotez">
				We use cookies that are necessary to enable you to use the website, and to collect visitor analytics. Please leave the website or adjust your browser settings accordingly.<br />
				&copy;2019 Rubik's Cube Solver | <a href="/contact">Contact</a> | <a href="/sitemap">Site Map</a> | <a href="/privacy-terms">Privacy, Terms and Conditions</a> | Program by Módus Beke
			</div>
			
			<div id="callToAddThis">
				<ul>
					<li><a rel="external nofollow" class="sharefb" target="blank" href="https://www.facebook.com/sharer/sharer.php?u=https://rubiks-cube-solver.com/">Facebook</a></li>
					<li><a rel="external nofollow" class="sharetw" target="blank" href="https://twitter.com/home?status=https://rubiks-cube-solver.com/">Twitter</a></li>
					<li><a rel="external nofollow" class="shareli" target="blank" href="https://www.linkedin.com/shareArticle?mini=true&url=https://rubiks-cube-solver.com&title=Rubik's%20Cube%20solver%20program&summary=Couldn't%20figure%20out%20how%20to%20solve%20your%20Rubik's%20Cube?%20Just%20set%20the%20colors%20of%20the%20mixed%20puzzle,%20hit%20the%20solve%20button%20and%20follow%20the%20steps%20leading%20to%20the%20solution.%20&source=">LinkedIn</a></li>
				</ul>
			</div>
		</div>
	</div>	
	
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-61900924-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-61900924-1');
	</script>
<!-- Footer END -->
	
</body>
</html>
