<html>
<head>
  <title>Welcome to Jumi stonetech Co., Ltd </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
  /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: auto;
  }
  </style>
</head>
<body>
<div class="container-fluid">
<nav class="navbar navbar-expand-sm bg-info navbar-dark justify-content-center">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">News</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" href="#">FAQ</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" href="#">FeedBack</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" href="#">Contact Us</a>
    </li>
  </ul>
</nav>

<div id="demo" class="carousel slide" data-ride="carousel">
 
  <!-- 指示符 -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
 
  <!-- 轮播图片 -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="http://www.difastone.com/pic/flash/1.jpg">
      <div class="carousel-caption">
        <h3>All types long life </h3>
        <p>each sizes</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="http://www.difastone.com/pic/flash/2.jpg">
      <div class="carousel-caption">
        <h3>High quanlity</h3>
        <p>affordable</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="http://www.difastone.com/pic/flash/3.jpg">
      <div class="carousel-caption">
        <h3>Fast cutting</h3>
        <p>Cost effective</p>
      </div>
    </div>
  </div>
 
  <!-- 左右切换按钮 -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
 
</div>
<div class="panel">
<div class="row">
    <div class="col-sm-3">
    <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action"> Electroplating Diamond Saw Blade </a>
    <a href="#" class="list-group-item list-group-item-action">Electroplating Diamond Cutting & Grinding Blade
</a>
    <a href="#" class="list-group-item list-group-item-action">Electroplating Diamond Cutting Blade
</a>
    <a href="#" class="list-group-item list-group-item-action">Diamond Cutting Segment</a>
    <a href="#" class="list-group-item list-group-item-action">Marble Cutting Segment</a>
    <a href="#" class="list-group-item list-group-item-action">Diamond Abrasive for Marble</a>
    <a href="#" class="list-group-item list-group-item-action">Frankfurt Brush for Marble</a>
    <a href="#" class="list-group-item list-group-item-action">Frankfurt Abrasive for Marble Slabs</a>
    <a href="#" class="list-group-item list-group-item-action">Diamond Router Bi for bullnose edge
</a>
    <a href="#" class="list-group-item list-group-item-action">Polishing Pad</a>
    <a href="#" class="list-group-item list-group-item-action">Electroplated Polishing Pad
</a>
    <a href="#" class="list-group-item list-group-item-action"> 3 Steps polishing pad
</a>
    <a href="#" class="list-group-item list-group-item-action">  Dry Polishing pad
</a>
    <a href="#" class="list-group-item list-group-item-action"> Wet PolishingPad
</a>
    <a href="#" class="list-group-item list-group-item-action"> Hot Press Diamond Saw Blade
</a>
    <a href="#" class="list-group-item list-group-item-action"> Concave Saw Blade
</a>
    <a href="#" class="list-group-item list-group-item-action"> D105-250mm Small Saw Blade

</a>
    <a href="#" class="list-group-item list-group-item-action"> Cold Press Diamond Saw Blade
</a>
    <a href="#" class="list-group-item list-group-item-action">  D105-250mm Small Saw Blade
</a>
  </div>
    </div>
    <div class="col-sm-9">
    <img src="http://www.difastone.com/pic/small/47_0.jpg" class="img-fluid">
    <img src="http://www.difastone.com/pic/small/46_0.jpg" class="img-fluid">
    <img src="http://www.difastone.com/pic/small/45_0.jpg" class="img-fluid">
    <img src="http://www.difastone.com/pic/small/44_0.jpg" class="img-fluid">
    <img src="http://www.difastone.com/pic/small/43_0.jpg" class="img-fluid">
    <img src="http://www.difastone.com/pic/small/42_0.jpg" class="img-fluid">
    <img src="http://www.difastone.com/pic/small/41_0.jpg" class="img-fluid">
    <img src="http://www.difastone.com/pic/small/21_0.jpg" class="img-fluid">
    <img src="http://www.difastone.com/pic/small/40_0.jpg" class="img-fluid">

    </div>
  </div>
  </div>
<div class="jumbotron text-center" style="margin-bottom:0">
<div id="fanyi">
    <SCRIPT language=javascript src="/js/lang.js"></SCRIPT>
        <a href='javascript:translator("en|zh-CN")'><img height=14 src="/images/ico_china.jpg" width=20 align=absMiddle border=0 /> Chinese</a>
        <a href='javascript:translator("en|de")'><img height=14 src="/images/ico_deutsch1.gif" width=20 align=absMiddle border=0 /> Deutsch</a>
        <a href='javascript:translator("en|es")'><img height=14 src="/images/ico_espanol.gif" width=20 align=absMiddle border=0 /> Espanol</a>
        <a href='javascript:translator("en|fr")'><img height=14 src="/images/ico_francies.gif" width=20 align=absMiddle border=0 /> Francais</a>
        <a href='javascript:translator("en|it")'><img height=14 src="/images/ico_italino.gif" width=20 align=absMiddle border=0 /> Italiano</a>
        <a href='javascript:translator("en|pt")'><img height=14 src="/images/ico_portgues.gif" width=20 align=absMiddle border=0 /> Portugues</a>
        <a href='javascript:translator("en|ja")'><img height=14 src="/images/ico_japan.jpg" width=20 align=absMiddle border=0 /> Japanese</a>
        <a href='javascript:translator("en|ko")'><img height=14 src="/images/ico_korea.jpg" width=20 align=absMiddle border=0 /> Korean</a>
        <a href='javascript:translator("en|ar")'><img height=14 src="/images/ico_arabia.jpg" width=20 align=absMiddle border=0 /> Arabic</a>
        <a href='javascript:translator("en|ru")'><img height=14 src="/images/ico_russia.jpg" width=20 align=absMiddle border=0 /> Russian</a>
</div>

<a href="/index_en.html" title="Home">Home</a> | 

<a href="/e_aboutus/" title="About Us">About Us</a> | 

<a href="/e_products/" title="Products">Products</a> | 

<a href="/e_news/" title="News">News</a> | 

<a href="/html_info/FAQ.html" title="FAQ">FAQ</a> | 

<a href="/e_feedback/" title="Feedback">Feedback</a> | 

<a href="/e_contact/" title="Contact Us">Contact Us</a> | 

<a href="/e_sitemap/">SiteMap</a>&nbsp;<a href="/sitemap.xml" target="_blank"><img height=14 src="/images/map.gif"  alt="sitemap" border=0 /></a><br />
<span align="center">Copyright © <a href="">Jumi Stonetech Co., Ltd.</a>  All Rights Reserved</span><div class="link_zi">
</div>
</div>
</body>
</html>